body{

	margin: 0;
}

.ul1
{ 
	list-style-type: none;
    display: flex; 
	justify-content: flex-end;
	align-items: center; 
	font-family: arial,sans-serif;
}


.li1{padding-left: 15px;}

li:hover{ 
	color: darkgrey
;
	text-decoration: underline;
}

#logo
{
width: 300px;
}

.micro {
    position: absolute;
    left: 980px;
    margin-top: 8px;
}


.conteneurlogo
{
	width: 22%;
	margin: auto;
	margin-top: 224px;
}

#rech
{
display: flex;
justify-content: center;"
}

.pomme {
box-shadow: 0px 3px 4px #aaa;
}

#button {
font-family:arial,sans-serif;
height:70px ;
display: flex;
align-items: center;
justify-content: center;

}

#English {
font-family: arial,sans-serif;
	display: flex;
align-items: center;
justify-content: center;
}


#conteneurpiedpage{
	display: flex;
	background-color:#e2E2E2;
	justify-content:space-between
}

.li2{padding-left: 15px;}


.foot1{
	font-family: arial,sans-serif;
    padding-top:1px;
    padding-left: 30px; 
}

.ulcotegauche{
	font-family: arial,sans-serif;
    list-style-type:none;
     display: flex; 
	justify-content:flex-start;
	align-items: center;
}

.ulcotedroit{
	font-family: arial,sans-serif;
    list-style-type:none;
  display: flex; 
	justify-content: flex-end;
	align-items: center; 
}

li
{padding-left:15px;}


#footerprincipal{
margin-top: 8%;
    background-color: #e4e4e4;
    width: auto;}



