

ul
{ 
	list-style-type: none;
    display: flex; 
	justify-content: flex-end;
	align-items: center; 
}


#ul2
{
list-style-type: none;
    display: flex; 
	justify-content:;
	 ;
}


.li1{padding-left: 15px;}

li:hover{ 
	color: darkgrey
;
	text-decoration: underline;

}

#logo
{

width: 300px;

}

.conteneurlogo
{
	width: 22%;
	margin: auto;
	margin-top: 224px;

}

#rech
{
display: flex;
justify-content: center;

}

#button {

display: flex;
align-items: center;
justify-content: center;

}

#English {


	display: flex;
align-items: center;
justify-content: center;
}